<form>
    <fieldset class="form-group">
        <legend>Search shows</legend>

        <div class="form-group">
            <label for="release_date_greater">Released after (year) : </label>
            <input class="form-control" ng-model="searchCtrl.searchParams.air_date.gte" type="number" name="quantity" min="1950" max="2017" placeholder="2000" id="release_date_greater">
        </div>

        <div class="form-group">
            <label for="release_date_before">Released before (year) : </label>
            <input class="form-control" ng-model="searchCtrl.searchParams.air_date.lte" type="number" name="quantity" min="1950" max="2017" placeholder="1980" id="release_date_before">
        </div>

        <label for="sort">Sort by</label>
        <select class="form-control" id="sort" ng-model="searchCtrl.searchParams.sort_by">
            <option selected>Choose...</option>
            <option value="popularity.desc">popularity</option>
            <option value="vote_average.desc">vote_average</option>
            <option value="revenue.desc">revenue</option>
        </select>

    </fieldset>

    <button type="submit" class="btn btn-primary" ng-click="searchCtrl.search()">Submit</button>
</form>