<h2 class="page-header">Send notification</h2>
<form id="notif">
    <div class="form-group">
        <label>Serie</label>
        <p>{{name}}</p>
    </div>
    <h3>Message</h3>

    <div class="form-group">
        <textarea rows="6" cols="50" name="message" placeholder="Type your message here" ng-model="message"></textarea>
    </div>
    <input type="hidden" name="serie_id" value="{{id}}">
    <p ng-if="resultMessage" ng-class="messageClass">{{resultMessage}}</p>
    <button class="btn btn-default" ng-click="sendNotification()">Send notification</button>
</form>
