<div class="jumbotron text-center">
	<h1>{{title}}</h1>
	<div class="row" ng-repeat="(rowIndex, value) in series  as elem"
		ng-if="rowIndex % 4 == 0">
		<div class="col-md-3 " ng-repeat="elIdx in [0,1,2,3]"
			ng-if="elem[rowIndex+elIdx]" id="{{elem[rowIndex+elIdx].id}}">
			<h3 class="serie-title">
				<a ng-href="/series/{{elem[rowIndex+elIdx].id}}">{{elem[rowIndex+elIdx].name}}</a>
			</h3>
			<a ng-href="/series/{{elem[rowIndex+elIdx].id}}"> <img
				class="img-responsive portfolio-item resultImage"
				ng-src="{{getPosterMedium(elem[rowIndex+elIdx].poster_path)}}"
				alt="">
			</a>
			<button class="btn-danger btn-snap-bottom"
				ng-click="removeLiked(elem[rowIndex+elIdx].id)">
				<i class="fa fa-minus" aria-hidden="true"></i> Remove from your
				likes
			</button>
		</div>
	</div>
	<div ng-show="!series">
		<h3>You don't like any TV Shows</h3>
	</div>
</div>
<hr>

<form id="options-form">
	<div>
		<legend>Notification options</legend>
		<label>Notification frequency</label> <select class="form-control"
			id="frequencies" ng-model="user.frequency">
			<option value="" disabled selected>----Select----</option>
			<option ng-repeat='f in frequencies'>{{f}}</option>
		</select> <br>
		
		<div class="form-group form-group-check">
			<label>Value2: <input type="checkbox"
				ng-model="specialNotifiction" ng-true-value="'YES'"
				ng-false-value="'NO'">
			</label>
		</div>
		
	</div>
	</br>
	<button type="submit" class="btn btn-primary"
		ng-click="saveOptions()">Search</button>
</form>
