<div class="jumbotron text-center">
    <div class="row">
        <div class="row text-left">
            <button type="button" class="btn btn-primary">Add TV Show</button>
        </div>
        <div class="row text-center">
            <h2 class="title">{{title}}</h2>
            <img class="center-block"
                 ng-src="images/cover-placeholder.jpg" alt=""><!-- {{image}}-->
        </div>
        <div class="row text-center">
            <h5>Average score: {{vote_average}}</h5>
            <h3>Overview</h3>
            <p>{{overview}} Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Integer mi. Vivamus sit amet neque vitae sapien bibendum sodales.
                Curabitur elementum. Duis imperdiet. Donec eleifend porttitor sapien.
                Praesent leo. Quisque auctor velit sed tellus. Suspendisse potenti.
                Aenean laoreet imperdiet nunc. Donec commodo suscipit dolor.
                Aenean nibh. Sed id odio. Aliquam lobortis risus ut felis.
                Sed vehicula pellentesque quam.
            </p>
        </div>
    </div>
</div>
    <div class="container">
        <h2>Details</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>Status:</strong>{{status}}</li>
            <li class="list-group-item"><strong>Network:</strong>{{network}}</li>
            <li class="list-group-item"><strong>First Aired:</strong>{{first_air_date}}</li>
            <li class="list-group-item"><strong>Episode Runtime:</strong>{{episode_run_time}}</li>
            <li class="list-group-item"><strong>Genres:</strong>{{genres}}</li>
            <li class="list-group-item"><strong>Status:</strong>{{status}}</li>
        </ul>
    </div>


